*.DS_Store
*.elc
*.orig
*.rej
*~
/.CFUserTextEncoding
/.Trash
/.bash_history
/.bundle
/.emacs.d/*
!/.emacs.d/init.el
/.ido.last
/.lein
/.m2
/.mysql_history
/.recentf
/.ssh
/.viminfo
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/src
