*.DS_Store
*.elc
*.orig
*.rej
*~
/.CFUserTextEncoding
/.Trash
/.bash_history
/.bundle
/.cache
/.cups
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/user.el
!/.emacs.d/vendor/*
/.gem
/.ghc
/.heroku
/.htoprc
/.ido.last
/.lein
/.lesshst
/.ls_ops_api_token
/.m2
/.mysql_history
/.netrc
/.recentf
/.rediscli_history
/.rubies
/.ssh
/.subversion
/.vegas
/.viminfo
/.vim/.netrwhist
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/src
