[user]
	name = Donald Ball
	email = donald.ball@livingsocial.com
[push]
	default = simple
[alias]
    copr = "!f() { git fetch -fu upstream refs/pull/$1/head:pr-$1; git checkout pr-$1; } ; f"
    prunepr = "!git for-each-ref refs/heads/pr-* --format='%(refname:short)' | while read ref ; do git branch -D $ref ; done"
