*.DS_Store
*.elc
*.orig
*.rej
*~
/.CFUserTextEncoding
/.Trash
/.bash_history
/.bundle
/.cache
/.cups
/.emacs.d/*
!/.emacs.d/init.el
/.gem
/.ido.last
/.lein
/.lesshst
/.ls_ops_api_token
/.m2
/.mysql_history
/.recentf
/.rubies
/.ssh
/.subversion
/.viminfo
/.vim/.netrwhist
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/src
